I imported the previous dataframe to continue working with it

In [12]:
import pandas as pd
df = pd.read_csv('neighborhoods.csv')
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Create a function to get al the latitudes and longitudes

In [13]:
import geocoder

def get_latilong(postal_code):
    lat_ln = None
    while(lat_ln is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_ln = g.latlng
    return lat_ln
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

I created a new dataframe with every coordinates

In [15]:
geospatial_data = pd.DataFrame(columns=['Postal Code', 'Latitude', 'Longitude'])

geospatial_data['Postal Code'] = df['Postal Code']
geospatial_data['Latitude'] = 0
geospatial_data['Longitude'] = 0
lat = []
ln = []

for index, postal_code in enumerate(list(geospatial_data['Postal Code'])):
    geospatial_data.loc[index, 'Latitude'] = get_latilong(postal_code)[0]
    geospatial_data.loc[index, 'Longitude'] = get_latilong(postal_code)[1]

geospatial_data

    Postal Code  Latitude  Longitude
0           M3A  43.75245  -79.32991
1           M4A  43.73057  -79.31306
2           M5A  43.65512  -79.36264
3           M6A  43.72327  -79.45042
4           M7A  43.66253  -79.39188
..          ...       ...        ...
98          M8X  43.65319  -79.51113
99          M4Y  43.66659  -79.38133
100         M7Y  43.64869  -79.38544
101         M8Y  43.63278  -79.48945
102         M8Z  43.62513  -79.52681

[103 rows x 3 columns]

I merged the data in a whole dataframe

In [16]:
df_merged = pd.merge(df, geospatial_data, on="Postal Code")
print(df_merged.shape)
df_merged.head()

(103, 5)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.75245,-79.32991
1,M4A,North York,Victoria Village,43.73057,-79.31306
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.65512,-79.36264
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.72327,-79.45042
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.66253,-79.39188

In [17]:
df_merged.to_csv(r'./neighborhoods_lat_lon.csv', index = False)